

<% @recipes.each do |recipe| %>
  <h2><a href = '/recipes/<%=recipe.id%>'><%= recipe.title %></a></h2>
  <h2><%= link_to recipe.title, "/recipes/#{recipe.id}"%> </h2>
  <h2>By: <%= recipe.chef %></h2>
  <h3>Time: <%= recipe.prep_time %> minute(s)</h3>
  <h2>Ingredients: <%= recipe.ingredients %></h2>
  <h2>Directions: <%= recipe.directions %></h2>
  <br>
<% end %>